@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    scroll-behavior: smooth; 

}


nav {
    background-color: #ffffff;
    color: #000000;
    border-bottom: 1px solid #000000;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #000000;
}

.brand {
    font-size: 25px;
    margin-right: 150px;
    font-weight: bold;
}

.left-links, .right-links {
    display: flex;
    font-size: 13px;
    gap: 35px; 
}

.left-links {
    margin-left: 30px; 
}

.right-links{
    margin-right: 30px;
}



.image-container {
    text-align: center;
}

.image-container img {
    max-width: 100%; 
    height: auto;
}

.nothing-img{
    margin-top: 260px;
    margin-right: 70px;
    padding: 30px;
}



/* styles.css */

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container img {
    margin: 10px;
}


.h-card {
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    text-align: left;
    letter-spacing: 0.45px;
    margin-left: 10px; 
}

.h3-card{
    font-size: 15px;
    line-height: 20px;
    text-align: left;
    letter-spacing: 0.45px;
    margin-left: 10px; 
}

.price-card{
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    letter-spacing: 1.8px;
    color: #757575;
    margin-left: 10px; 
}

.other {
    margin: 45px;
}

/* Agrega un estilo inicial y oculta la imagen de sobre cuando no está en uso */
.container .card .hover-image {
    display: none;
}

/* Ajusta el estilo de la imagen inicial y la de sobre según sea necesario */
.container .card .initial-image:hover + .hover-image {
    display: block;
}

.container .card .hover-image:hover {
    display: block;
}


/* Movement */

.movement-h{
    margin-top: 220px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.container-movement {
    display: flex;
    width: 100%;
    margin-top: 30px;
}

.half-width-image {
    width: 50%;
    height: auto;
}


/* Culture */

.culture-h{
    margin-top: 50px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.intro{
    margin: 70px;
    display: flex;
    flex-direction: row;
    padding: 30px;
    justify-content: center;
}

.intro img {
    border-radius: 4px;
}

.intro section {
    width: 50%;
    display: flex;
    flex-direction: column;
}

section h2 {
    font-size: 16px;
    font-weight: bold;
}

section p{
    margin-top: 5px;
    width: 75%;
    font-size: 13px;
    line-height: 21.45px;
}

.backname {
    display: flex;
    margin: 50px;
    text-align: start;
}

.backname section {
    margin: 0 auto;
    width: 50%;
}

.future  {
    margin: 70px;
    display: flex;
    flex-direction: row-reverse;
    padding: 30px;
    justify-content: center;
}

.future section {
    margin-left: 60px;
    padding: 30px;
}

.future section p {
    line-height: 21.45px;
    text-align: start;
}